src/main/app/external-dwl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<mulerequester:config name="Mule_Requester" doc:name="Mule Requester"/>
	<file:connector name="File" doc:name="connector" autoDelete="false" streaming="true" validateConnections="true"/>
    
    <flow name="external-dwl-fileFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/run" doc:name="HTTP"/>
        <parse-template location="src/main/resources/input.json" metadata:id="79935933-3768-4b3f-98c5-a930b24deb2f" doc:name="Parse Template"/>
        <enricher target="#[flowVars.dwScript]" doc:name="Message Enricher">
            <flow-ref name="getDWLFile" doc:name="Get dwl File"/>
        </enricher>
        <set-property propertyName="Content-Type" value="application/json" mimeType="application/json" doc:name="Property"/>
        <set-payload value="#[dw(flowVars.dwScript,&quot;application/json&quot;)]" doc:name="Apply dw() Function"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getDWLFile">
        <mulerequester:request config-ref="Mule_Requester" resource="file:///Users/dejimjuang/Workspace/mulesoft/hl7/call-external-dwl-file/src/main/resources/file.dwl" doc:name="Mule Requester"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    </flow>

</mule>
